In [1]:
#Importations des librairies

import pandas as pd 
import numpy as np
from IPython.display import display
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#création des dataframes via les fichiers csv

df1=pd.read_csv('fr_population.csv')
df2=pd.read_csv('fr_animaux.csv')
df3=pd.read_csv('fr_vegetaux.csv')

In [3]:
#Question 1 : donnez le résultat de votre calcul pour l'année 2013.

In [4]:
#j'applique un mask pour qu'il ne prenne pas la ligne Chine
mask=df1.Zone != 'Chine'

In [5]:
#j'affiche le dataframe avec le mask
df1[mask]

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,236,Venezuela (République bolivarienne du),511,Population totale,2501,Population,2013,2013,1000 personnes,30405,NaN,Donnée officielle
171,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,237,Viet Nam,511,Population totale,2501,Population,2013,2013,1000 personnes,91680,NaN,Donnée officielle
172,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,249,Yémen,511,Population totale,2501,Population,2013,2013,1000 personnes,24407,NaN,Donnée officielle
173,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,251,Zambie,511,Population totale,2501,Population,2013,2013,1000 personnes,14539,NaN,Donnée officielle
174,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,181,Zimbabwe,511,Population totale,2501,Population,2013,2013,1000 personnes,14150,NaN,Donnée officielle

In [6]:
#j'affiche le résultat en selectionnant la somme total des nombres *1000 de la colonne valeur
pop_mondial=df1[mask]['Valeur'].sum()*1000

In [7]:
pop_mondial

6997326000

# Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

In [8]:
df2['origine'] = 'animal'
df3['origine'] = 'vegétale'

In [9]:
#je fais une concatenation du fichier animaux et vegetaux
df4=pd.concat([df2,df3])

In [10]:
#J'utilise pivot table pour mieux synthétiser mes données et agréger les résultats
#Synthese sur les données du df4 pour obtenir les valeurs disponibles
pivot1=pd.pivot_table(df4, index=['Code zone','Zone','Code Produit','Produit','origine'] , columns='Élément',values='Valeur')
pivot1=pivot1.reset_index()
pivot1

Élément,Code zone,Zone,Code Produit,Produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,1,Arménie,2511,Blé,vegétale,93.0,0.0,1024.0,130.60,3.60,30.52,554.0,1.0,361.0,389.0,32.0,312.0,30.0,10.0,-118.0
1,1,Arménie,2513,Orge,vegétale,137.0,26.0,0.0,0.00,0.00,0.00,198.0,0.0,9.0,0.0,15.0,189.0,14.0,7.0,0.0
2,1,Arménie,2514,Maïs,vegétale,96.0,NaN,0.0,0.03,NaN,0.01,102.0,NaN,82.0,0.0,7.0,21.0,0.0,NaN,NaN
3,1,Arménie,2515,Seigle,vegétale,1.0,NaN,1.0,0.12,0.00,0.02,1.0,NaN,0.0,0.0,0.0,1.0,0.0,NaN,0.0
4,1,Arménie,2516,Avoine,vegétale,4.0,NaN,2.0,0.37,0.03,0.09,6.0,NaN,1.0,1.0,0.0,5.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15697,351,Chine,2781,Huiles de Poissons,animal,47.0,80.0,0.0,0.00,0.00,0.00,127.0,13.0,91.0,0.0,NaN,50.0,NaN,NaN,0.0
15698,351,Chine,2782,Huiles de Foie de Poisso,animal,0.0,0.0,0.0,0.00,0.00,0.00,0.0,1.0,1.0,0.0,NaN,0.0,NaN,NaN,0.0
15699,351,Chine,2805,Riz (Eq Blanchi),vegétale,12117.0,2085.0,797.0,77.45,2.68,14.47,135024.0,565.0,2714.0,109725.0,6406.0,136873.0,4679.0,12.0,-3998.0
15700,351,Chine,2848,Lait - Excl Beurre,animal,1632.0,42.0,59.0,33.18,3.25,3.12,50117.0,233.0,9780.0,47009.0,1433.0,40570.0,NaN,0.0,0.0
15701,351,Chine,2899,Miscellanees,vegétale,NaN,NaN,0.0,NaN,0.00,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Par la suite j'effectue une jointure entre mon pivot et mon csv population en selectionnant juste 2 données sur zone et valeur
df5=pd.merge(pivot1,df1[mask][['Zone','Valeur']] , on='Zone')

In [12]:
#je vais calculer la disponibilité alimentaire en kcal/personne/jour  par produit par pays 
#je crée une nouvelle colonne 'Disponibilité almientaire(kcal)/ans' en convertissant
df5['Disponibilité almientaire(kcal)/ans']=df5['Disponibilité alimentaire (Kcal/personne/jour)']*365*df5['Valeur']*1000

In [13]:
# je vais calculer la disponibilté alimentaire en kg protéine par ans par produit et par pays

df5['Disponibilité en protéines par kg']=(df5['Disponibilité de protéines en quantité (g/personne/jour)']/1000)*365*(df5['Valeur']*1000)
df5

,Code zone,Zone,Code Produit,Produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Valeur,Disponibilité almientaire(kcal)/ans,Disponibilité en protéines par kg
0,1,Arménie,2511,Blé,vegétale,93.0,0.0,1024.0,130.60,3.60,...,361.0,389.0,32.0,312.0,30.0,10.0,-118.0,2977,1.112684e+12,3.316318e+07
1,1,Arménie,2513,Orge,vegétale,137.0,26.0,0.0,0.00,0.00,...,9.0,0.0,15.0,189.0,14.0,7.0,0.0,2977,0.000000e+00,0.000000e+00
2,1,Arménie,2514,Maïs,vegétale,96.0,NaN,0.0,0.03,NaN,...,82.0,0.0,7.0,21.0,0.0,NaN,NaN,2977,0.000000e+00,1.086605e+04
3,1,Arménie,2515,Seigle,vegétale,1.0,NaN,1.0,0.12,0.00,...,0.0,0.0,0.0,1.0,0.0,NaN,0.0,2977,1.086605e+09,2.173210e+04
4,1,Arménie,2516,Avoine,vegétale,4.0,NaN,2.0,0.37,0.03,...,1.0,1.0,0.0,5.0,0.0,NaN,NaN,2977,2.173210e+09,9.779445e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,animal,NaN,0.0,0.0,0.00,0.00,...,NaN,0.0,NaN,0.0,NaN,NaN,NaN,37964,0.000000e+00,0.000000e+00
15601,276,Soudan,2764,"Poissons Marins, Autres",animal,NaN,0.0,0.0,0.13,0.01,...,NaN,5.0,NaN,5.0,NaN,NaN,NaN,37964,0.000000e+00,5.542744e+05
15602,276,Soudan,2805,Riz (Eq Blanchi),vegétale,NaN,NaN,14.0,1.27,0.05,...,33.0,48.0,NaN,17.0,1.0,NaN,0.0,37964,1.939960e+11,3.879921e+06
15603,276,Soudan,2848,Lait - Excl Beurre,animal,NaN,0.0,315.0,155.20,20.01,...,232.0,5892.0,NaN,5660.0,NaN,0.0,NaN,37964,4.364911e+12,2.182455e+08
15604,276,Soudan,2899,Miscellanees,vegétale,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37964,9.699802e+10,2.036958e+07

# Question 4 : A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg.

In [14]:
#Nous allons calculer le poid de la disponibilité alimentaire pour chaque pays et produit
df5['Disponibilité almientaire(kg)/ans']=df5['Disponibilité alimentaire en quantité (kg/personne/an)']*df5['Valeur']*1000
df5['Disponibilité almientaire(kg)/ans'].fillna(0, inplace=True)

In [15]:
#Nous allons établire une divion entre disponibilité en kcal/ans et la disponibilité alimentaire en kg/ans
df5['Ratio energie poids en (kcal/kg)']=df5['Disponibilité almientaire(kcal)/ans']/df5['Disponibilité almientaire(kg)/ans']
df5['Ratio energie poids en (kcal/kg)'].fillna(0, inplace=True)

In [16]:
df5['Ratio energie poids en (kcal/kg)'] = df5['Ratio energie poids en (kcal/kg)'].replace(np.inf, 0)
df5

,Code zone,Zone,Code Produit,Produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Pertes,Production,Semences,Traitement,Variation de stock,Valeur,Disponibilité almientaire(kcal)/ans,Disponibilité en protéines par kg,Disponibilité almientaire(kg)/ans,Ratio energie poids en (kcal/kg)
0,1,Arménie,2511,Blé,vegétale,93.0,0.0,1024.0,130.60,3.60,...,32.0,312.0,30.0,10.0,-118.0,2977,1.112684e+12,3.316318e+07,3.887962e+08,2861.868300
1,1,Arménie,2513,Orge,vegétale,137.0,26.0,0.0,0.00,0.00,...,15.0,189.0,14.0,7.0,0.0,2977,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
2,1,Arménie,2514,Maïs,vegétale,96.0,NaN,0.0,0.03,NaN,...,7.0,21.0,0.0,NaN,NaN,2977,0.000000e+00,1.086605e+04,8.931000e+04,0.000000
3,1,Arménie,2515,Seigle,vegétale,1.0,NaN,1.0,0.12,0.00,...,0.0,1.0,0.0,NaN,0.0,2977,1.086605e+09,2.173210e+04,3.572400e+05,3041.666667
4,1,Arménie,2516,Avoine,vegétale,4.0,NaN,2.0,0.37,0.03,...,0.0,5.0,0.0,NaN,NaN,2977,2.173210e+09,9.779445e+04,1.101490e+06,1972.972973
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,animal,NaN,0.0,0.0,0.00,0.00,...,NaN,0.0,NaN,NaN,NaN,37964,0.000000e+00,0.000000e+00,0.000000e+00,0.000000
15601,276,Soudan,2764,"Poissons Marins, Autres",animal,NaN,0.0,0.0,0.13,0.01,...,NaN,5.0,NaN,NaN,NaN,37964,0.000000e+00,5.542744e+05,4.935320e+06,0.000000
15602,276,Soudan,2805,Riz (Eq Blanchi),vegétale,NaN,NaN,14.0,1.27,0.05,...,NaN,17.0,1.0,NaN,0.0,37964,1.939960e+11,3.879921e+06,4.821428e+07,4023.622047
15603,276,Soudan,2848,Lait - Excl Beurre,animal,NaN,0.0,315.0,155.20,20.01,...,NaN,5660.0,NaN,0.0,NaN,37964,4.364911e+12,2.182455e+08,5.892013e+09,740.818299
15604,276,Soudan,2899,Miscellanees,vegétale,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,NaN,NaN,NaN,37964,9.699802e+10,2.036958e+07,0.000000e+00,0.000000

# En suivant la même méthodologie, calculez également le pourcentage de protéines de chaque produit (pour chaque pays). Ce pourcentage est obtenu en calculant le ratio "poids de protéines/poids total"

In [17]:
#Nous allons établire une divion entre disponibilité en proteine par kg et la disponibilité alimentaire en kg/ans
#multiplier par 100 pour le %
df5['Ratio protéine/poids total en %']=df5['Disponibilité en protéines par kg']/df5['Disponibilité almientaire(kg)/ans']
df5['Ratio protéine/poids total en %'].fillna(0, inplace=True)

In [18]:
df5['Ratio protéine/poids total en %'] = df5['Ratio protéine/poids total en %'].replace(np.inf, 0)
df5

,Code zone,Zone,Code Produit,Produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Production,Semences,Traitement,Variation de stock,Valeur,Disponibilité almientaire(kcal)/ans,Disponibilité en protéines par kg,Disponibilité almientaire(kg)/ans,Ratio energie poids en (kcal/kg),Ratio protéine/poids total en %
0,1,Arménie,2511,Blé,vegétale,93.0,0.0,1024.0,130.60,3.60,...,312.0,30.0,10.0,-118.0,2977,1.112684e+12,3.316318e+07,3.887962e+08,2861.868300,0.085297
1,1,Arménie,2513,Orge,vegétale,137.0,26.0,0.0,0.00,0.00,...,189.0,14.0,7.0,0.0,2977,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
2,1,Arménie,2514,Maïs,vegétale,96.0,NaN,0.0,0.03,NaN,...,21.0,0.0,NaN,NaN,2977,0.000000e+00,1.086605e+04,8.931000e+04,0.000000,0.121667
3,1,Arménie,2515,Seigle,vegétale,1.0,NaN,1.0,0.12,0.00,...,1.0,0.0,NaN,0.0,2977,1.086605e+09,2.173210e+04,3.572400e+05,3041.666667,0.060833
4,1,Arménie,2516,Avoine,vegétale,4.0,NaN,2.0,0.37,0.03,...,5.0,0.0,NaN,NaN,2977,2.173210e+09,9.779445e+04,1.101490e+06,1972.972973,0.088784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,276,Soudan,2763,Poissons Pelagiques,animal,NaN,0.0,0.0,0.00,0.00,...,0.0,NaN,NaN,NaN,37964,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
15601,276,Soudan,2764,"Poissons Marins, Autres",animal,NaN,0.0,0.0,0.13,0.01,...,5.0,NaN,NaN,NaN,37964,0.000000e+00,5.542744e+05,4.935320e+06,0.000000,0.112308
15602,276,Soudan,2805,Riz (Eq Blanchi),vegétale,NaN,NaN,14.0,1.27,0.05,...,17.0,1.0,NaN,0.0,37964,1.939960e+11,3.879921e+06,4.821428e+07,4023.622047,0.080472
15603,276,Soudan,2848,Lait - Excl Beurre,animal,NaN,0.0,315.0,155.20,20.01,...,5660.0,NaN,0.0,NaN,37964,4.364911e+12,2.182455e+08,5.892013e+09,740.818299,0.037041
15604,276,Soudan,2899,Miscellanees,vegétale,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,NaN,NaN,37964,9.699802e+10,2.036958e+07,0.000000e+00,0.000000,0.000000

# Question 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.

In [19]:
mask=df5['Ratio energie poids en (kcal/kg)'] != 0

In [20]:
df6=df5[mask].groupby('Produit')['Ratio energie poids en (kcal/kg)'].mean()

In [21]:
df6.sort_values(ascending=False)

Produit
Huiles de Foie de Poisso    11809.003531
Huile de Sésame             10146.064841
Huile d'Olive                9292.674322
Huile de Germe de Maïs       9257.130389
Huile de Son de Riz          9206.134101
                                ...
Agrumes, Autres               256.962548
Pamplemousse                  248.836796
Mollusques, Autres            239.557401
Tomates                       202.718836
Citrons & Limes               194.828886
Name: Ratio energie poids en (kcal/kg), Length: 94, dtype: float64

In [22]:
mask1=df5['Ratio protéine/poids total en %'] != 0

In [23]:

df7=df5[mask1].groupby('Produit')['Ratio protéine/poids total en %'].mean()

In [24]:
df7.sort_values(ascending=False).head(15)

Produit
Graines Colza/Moutarde      0.365000
Soja                        0.272545
Arachides Decortiquees      0.250913
Pois                        0.224239
Légumineuses Autres         0.223047
Haricots                    0.218658
Plantes Oleiferes, Autre    0.187802
Sésame                      0.187107
Viande, Autre               0.178481
Abats Comestible            0.176309
Aliments pour enfants       0.154317
Cephalopodes                0.150352
Viande de Bovins            0.144611
Viande d'Ovins/Caprins      0.138969
Viande de Volailles         0.126200
Name: Ratio protéine/poids total en %, dtype: float64

# Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [25]:
df5[df5['origine'] == 'vegétale']

,Code zone,Zone,Code Produit,Produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Production,Semences,Traitement,Variation de stock,Valeur,Disponibilité almientaire(kcal)/ans,Disponibilité en protéines par kg,Disponibilité almientaire(kg)/ans,Ratio energie poids en (kcal/kg),Ratio protéine/poids total en %
0,1,Arménie,2511,Blé,vegétale,93.0,0.0,1024.0,130.60,3.60,...,312.0,30.0,10.0,-118.0,2977,1.112684e+12,33163184.60,388796200.0,2861.868300,0.085297
1,1,Arménie,2513,Orge,vegétale,137.0,26.0,0.0,0.00,0.00,...,189.0,14.0,7.0,0.0,2977,0.000000e+00,0.00,0.0,0.000000,0.000000
2,1,Arménie,2514,Maïs,vegétale,96.0,NaN,0.0,0.03,NaN,...,21.0,0.0,NaN,NaN,2977,0.000000e+00,10866.05,89310.0,0.000000,0.121667
3,1,Arménie,2515,Seigle,vegétale,1.0,NaN,1.0,0.12,0.00,...,1.0,0.0,NaN,0.0,2977,1.086605e+09,21732.10,357240.0,3041.666667,0.060833
4,1,Arménie,2516,Avoine,vegétale,4.0,NaN,2.0,0.37,0.03,...,5.0,0.0,NaN,NaN,2977,2.173210e+09,97794.45,1101490.0,1972.972973,0.088784
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15585,276,Soudan,2659,"Alcool, non Comestible",vegétale,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,37964,NaN,NaN,0.0,0.000000,0.000000
15586,276,Soudan,2680,Aliments pour enfants,vegétale,NaN,NaN,0.0,0.00,NaN,...,NaN,NaN,NaN,NaN,37964,0.000000e+00,0.00,0.0,0.000000,0.000000
15597,276,Soudan,2745,Miel,vegétale,NaN,NaN,0.0,0.02,NaN,...,1.0,NaN,NaN,NaN,37964,0.000000e+00,NaN,759280.0,0.000000,0.000000
15602,276,Soudan,2805,Riz (Eq Blanchi),vegétale,NaN,NaN,14.0,1.27,0.05,...,17.0,1.0,NaN,0.0,37964,1.939960e+11,3879920.80,48214280.0,4023.622047,0.080472
15604,276,Soudan,2899,Miscellanees,vegétale,NaN,NaN,7.0,NaN,0.01,...,NaN,NaN,NaN,NaN,37964,9.699802e+10,20369584.20,0.0,0.000000,0.000000

In [26]:
df5['disponibilité_interieur_kcal']=df5['Disponibilité intérieure']*1000000*df5['Ratio energie poids en (kcal/kg)']

In [27]:
vegetaux_df=df5[df5['origine']=='vegétale'].copy()

In [28]:
Disponibilité_intérieur_mondiale=vegetaux_df['disponibilité_interieur_kcal'].sum()

In [29]:
print('la disponibilité interieur mondiale végetale est de :', Disponibilité_intérieur_mondiale,'kcal' )

la disponibilité interieur mondiale végetale est de : 1.2166421524173388e+16 kcal

# Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [30]:
#déterminer le besoin calorique par ans d'une personne d'age moyen d'aprés une source de l'insee
besoin_kcal_an=2200*365

In [31]:
#Calculez en calories
kcal_humains=(Disponibilité_intérieur_mondiale /besoin_kcal_an)

In [32]:
print('Nous avons assez de calories pour nourrire:',kcal_humains, 'humains')

Nous avons assez de calories pour nourrire: 15151209868.210943 humains

In [33]:
#on refait la meme chose que ci dessous pour les protéines, ne pas oublier de diviser par 100 enlever le %
df5['Disponibilité_interieur_protéine']=df5['Disponibilité intérieure']*1000000*df5['Ratio protéine/poids total en %']

In [34]:
vegetaux_df=df5[df5['origine']=='vegétale'].copy()

In [35]:
Disponibilité_intérieur_mondiale_p=vegetaux_df['Disponibilité_interieur_protéine'].sum()

In [36]:
print('la disponibilité interieur protéine végetale est de :', Disponibilité_intérieur_mondiale_p,'Protéines' )

la disponibilité interieur protéine végetale est de : 291995825800.39294 Protéines

In [37]:
#déterminer le besoin protéiné par ans d'une personne de poids moyen 62 kilos ,
#sachant que nous devons consommer en moyenne 0.8g de protéine par poids de corps
#effectuer le calcule et /1000 pour mettre kilos et *365 jours pour l'année
besoin_prot_an=((62*0.8)/1000)*365

#Calculer en protéine
prot_humains= (Disponibilité_intérieur_mondiale_p/besoin_prot_an)

#affichons le résultat
print('Nous avons assez de protéine pour nourrire:',prot_humains, 'humains')

Nous avons assez de protéine pour nourrire: 16128801690.255907 humains

In [38]:
#nous avons la population mondial 
pop_mondial

6997326000

In [39]:
#Exprimmons les résultats en %
kcal_pourcentage=kcal_humains/pop_mondial
prot_pourcentage=prot_humains/pop_mondial

print(f"Nous avons assez de calories pour nourrir {kcal_humains:,} humans ({kcal_pourcentage:.0%}).")
print(f"Nous avons assez de protéine pour nourrir {prot_humains:,} humans ({prot_pourcentage:.0%}).")

Nous avons assez de calories pour nourrir 15,151,209,868.210943 humans (217%).
Nous avons assez de protéine pour nourrir 16,128,801,690.255907 humans (230%).

# Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale

In [40]:
df8=df5.copy()
df8=df8[df8['origine']=='vegétale'].copy()
df8['Aliment_animal_kg']=df8['Aliments pour animaux']*1000000
df8['Pertes_kg']=df8['Pertes']*1000000
df8['Nourriture_kg']=df8['Nourriture']*1000000

In [41]:
#Projection 
df8[['Aliment_animal_kg','Pertes_kg','Nourriture_kg','Ratio energie poids en (kcal/kg)','Ratio protéine/poids total en %']]

,Aliment_animal_kg,Pertes_kg,Nourriture_kg,Ratio energie poids en (kcal/kg),Ratio protéine/poids total en %
0,93000000.0,32000000.0,389000000.0,2861.868300,0.085297
1,137000000.0,15000000.0,0.0,0.000000,0.000000
2,96000000.0,7000000.0,0.0,0.000000,0.121667
3,1000000.0,0.0,0.0,3041.666667,0.060833
4,4000000.0,0.0,1000000.0,1972.972973,0.088784
...,...,...,...,...,...
15585,NaN,NaN,NaN,0.000000,0.000000
15586,NaN,NaN,0.0,0.000000,0.000000
15597,NaN,NaN,1000000.0,0.000000,0.000000
15602,NaN,NaN,48000000.0,4023.622047,0.080472
15604,NaN,NaN,NaN,0.000000,0.000000

In [42]:
df8['Nourriture_alimentA_pertes_kg'] = df8['Nourriture_kg'] + df8['Aliment_animal_kg'] + df8['Pertes_kg']
df8['Nourriture_alimentA_pertes_kcal'] = df8['Nourriture_alimentA_pertes_kg'] * df8['Ratio energie poids en (kcal/kg)']
df8['Nourriture_alimentA_pertes_prot'] = df8['Nourriture_alimentA_pertes_kg'] * df8['Ratio protéine/poids total en %']

In [43]:
Nourriture_alimentA_pertes_kg   = df8['Nourriture_alimentA_pertes_kg'].sum()
Nourriture_alimentA_pertes_kcal = df8['Nourriture_alimentA_pertes_kcal'].sum()
Nourriture_alimentA_pertes_prot = df8['Nourriture_alimentA_pertes_prot'].sum()

In [44]:
Résultat=pd.DataFrame(columns=['Kcal','Proteine','Kcals_humains','Proteine_pr_humains'])

In [45]:
Kcals_humains = f"{ Nourriture_alimentA_pertes_kcal/ besoin_kcal_an:.0} ({ Nourriture_alimentA_pertes_kcal / besoin_kcal_an /pop_mondial :.0%})"


Proteine_pr_humains=f"{ Nourriture_alimentA_pertes_prot/ besoin_prot_an:.0} ({ Nourriture_alimentA_pertes_prot / besoin_prot_an /pop_mondial :.0%})"

In [46]:
Résultat = Résultat.append({
    'Kcal': Nourriture_alimentA_pertes_kcal ,
    'Proteine':Nourriture_alimentA_pertes_prot ,
    'Kcals_humains':Kcals_humains,
    'Proteine_pr_humains':Proteine_pr_humains
}, ignore_index=True)

In [47]:
display(Résultat)

           Kcal      Proteine Kcals_humains Proteine_pr_humains
0  6.103855e+15  1.610471e+11  8e+09 (109%)        9e+09 (127%)

# Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [48]:

df9=df5.copy()

In [49]:
#Calcul de la disponibilité alimentaire mondiale.
kals_mondiale=df9['Disponibilité almientaire(kcal)/ans'].sum()
Prot_mondiale=df9['Disponibilité en protéines par kg'].sum()

In [50]:
#Calcul calorie  et proteine mondial humain 
kals_mondial_humain=(kals_mondiale/besoin_kcal_an)
Prot_mondial_humain=(Prot_mondiale/besoin_prot_an)

In [51]:
#Calcul calorie et proteine par rapport à la population en %
kals_mondial_humain_pourcent=(kals_mondial_humain/pop_mondial)
Prot_mondial_humain_pourcent=(Prot_mondial_humain/pop_mondial)

In [52]:
#Afficher les résultats des 2 facons demandés
print(f"Nous avons assez de calories pour nourrir {kals_mondial_humain:,} humains ({kals_mondial_humain_pourcent:.0%}).")
print(f"Nous avons assez de protéine pour nourrir {Prot_mondial_humain:,} humains ({Prot_mondial_humain_pourcent:.0%}).")

Nous avons assez de calories pour nourrir 9,170,465,031.363636 humains (131%).
Nous avons assez de protéine pour nourrir 11,448,253,428.830645 humains (164%).

# Question 10 : A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [53]:
#importer le csv sousnutrition
df_sousnutri=pd.read_csv('fr_sousalimentation.csv')
#Afficher le type de valeurs
df_sousnutri.dtypes

Code Domaine               object
Domaine                    object
Code zone                   int64
Zone                       object
Code Élément                int64
Élément                    object
Code Produit                int64
Produit                    object
Code année                  int64
Année                      object
Unité                      object
Valeur                     object
Symbole                    object
Description du Symbole     object
Note                      float64
dtype: object

In [54]:
#Création d'une fonction qui me permettra aprés d'isolé l'année 2013
def format_année(Code_année):
    if Code_année == '2011-2013':
        return 2012

    elif Code_année == '2012-2014':
        return 2013
    
    elif Code_année == '2013-2015':
        return 2014
    
    elif Code_année == '2014-2016':
        return 2015
    
    elif Code_année == '2015-2017':
        return 2016
    
    elif Code_année == '2016-2018':
        return 2017

In [55]:
#Application de la fonction grace à apply
df_sousnutri['Année'] = df_sousnutri['Année'].apply(format_année)

In [56]:
df_sousnutri.fillna(0,inplace=True )

In [57]:
#Aprés de multiples test à changer le type de Variable en float,j'ai pu voir que le problème
#était dans la ligne qui contenait Barbade
#Nous remplacons la la valeur <0.1 par 0 grace à la fonction.replace


df_sousnutri['Valeur']=df_sousnutri['Valeur'].replace('<0.1',0)

In [58]:
#J'effectue ensuite un Cast avec la fonction to_numeric permet de convertir mon str en float
df_sousnutri['Valeur']=pd.to_numeric(df_sousnutri['Valeur'],downcast="float")

In [59]:
df_sousnutri['is_undernour'] = False
df_sousnutri.loc[df_sousnutri['Valeur'] > 0, 'is_undernour'] = True

In [60]:
#Je multiplie les données de la colonnes valeur pour les mettre en millions
df_sousnutri['Valeur']=df_sousnutri['Valeur']*1000000

In [61]:
#DATAFRAME CREE A PARTIR DU CSV SOUS NUTRITION 
df_sousnutri

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note,is_undernour
0,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,7.900000e+06,F,Estimation FAO,0.0,True
1,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2014,millions,8.800000e+06,F,Estimation FAO,0.0,True
2,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2015,millions,9.600000e+06,F,Estimation FAO,0.0,True
3,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2016,millions,1.020000e+07,F,Estimation FAO,0.0,True
4,FS,Données de la sécurité alimentaire,2,Afghanistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2017,millions,1.060000e+07,F,Estimation FAO,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,6.600000e+06,F,Estimation FAO,0.0,True
1016,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20132015,2014,millions,7.200000e+06,F,Estimation FAO,0.0,True
1017,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20142016,2015,millions,7.800000e+06,F,Estimation FAO,0.0,True
1018,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20152017,2016,millions,8.200000e+06,F,Estimation FAO,0.0,True
1019,FS,Données de la sécurité alimentaire,181,Zimbabwe,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20162018,2017,millions,8.500000e+06,F,Estimation FAO,0.0,True

In [62]:
#J'enleve La Chine du Dataframe pour ne pas fausser mes résultats
df_sousnutri = df_sousnutri[df_sousnutri.Zone != 'Chine']

In [63]:
#j'isole seulement l'année 2013 
df_2013=df_sousnutri[df_sousnutri['Année']==2013]

In [64]:
df_2013.sort_values('Valeur', ascending=False)

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,Note,is_undernour
425,FS,Données de la sécurité alimentaire,100,Inde,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,2.163000e+08,F,Estimation FAO,0.0,True
200,FS,Données de la sécurité alimentaire,41,"Chine, continentale",6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,1.366000e+08,F,Estimation FAO,0.0,True
685,FS,Données de la sécurité alimentaire,165,Pakistan,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,3.810000e+07,F,Estimation FAO,0.0,True
80,FS,Données de la sécurité alimentaire,16,Bangladesh,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,2.610000e+07,F,Estimation FAO,0.0,True
310,FS,Données de la sécurité alimentaire,238,Éthiopie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,2.530000e+07,F,Estimation FAO,0.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,FS,Données de la sécurité alimentaire,99,Islande,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,0.000000e+00,NR,Non rapportée,0.0,False
445,FS,Données de la sécurité alimentaire,104,Irlande,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,0.000000e+00,NR,Non rapportée,0.0,False
90,FS,Données de la sécurité alimentaire,57,Bélarus,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,0.000000e+00,NR,Non rapportée,0.0,False
95,FS,Données de la sécurité alimentaire,255,Belgique,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,0.000000e+00,NR,Non rapportée,0.0,False
510,FS,Données de la sécurité alimentaire,119,Lettonie,6132,Valeur,210011,Nombre de personnes sous-alimentées (millions)...,20122014,2013,millions,0.000000e+00,NR,Non rapportée,0.0,False

In [65]:
#Calcule la somme total de la population en sous nutrition 
population_total_sousnutri =df_2013['Valeur'].sum()

In [66]:
#Diviser la population total sous nutri par la population mondial 
rapport=population_total_sousnutri/pop_mondial

In [67]:
# afficher le résultat en  habitants et en %
print(f"la proportion de la population mondiale est considérée comme étant en sous-nutrition : {population_total_sousnutri:,} ({rapport:.1%})")

la proportion de la population mondiale est considérée comme étant en sous-nutrition : 743,700,007.1182847 (10.6%)

# Question 11 : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [68]:
df_cereals = pd.read_csv("fr_cereales.csv")

In [69]:
# Creer une colonne is_cereal selon la restriction
df_cereals['is_cereal'] = True

In [70]:
#Enlever la chine du dataframe
df_cereals = df_cereals[df_cereals.Zone != 'Chine'].copy()
#afficcher les 5 prémieres ligne pour voir si la commande à été executer
display(df_cereals.head(5))

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole,is_cereal
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2511,Blé,2013,2013,Milliers de tonnes,5169,S,Données standardisées,True
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,342,S,Données standardisées,True
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2513,Orge,2013,2013,Milliers de tonnes,514,S,Données standardisées,True
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2514,Maïs,2013,2013,Milliers de tonnes,312,S,Données standardisées,True
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,5511,Production,2517,Millet,2013,2013,Milliers de tonnes,13,S,Données standardisées,True

In [71]:
#tout mettre en kg
df_cereals['Valeur']=df_cereals['Valeur']*1000000

In [72]:
#ajout de la colonne is_cereal
cereal1 = pd.DataFrame(df_cereals, columns=['Code Produit', 'is_cereal'])
df5 = df5.merge(cereal1, how='left', on='Code Produit')
df5.drop_duplicates(inplace=True) # 'Code produit' appears several times in df_cereals
df5['is_cereal'].fillna(False, inplace=True)

In [73]:
#ajout de la colonne 'Valeur de df_2013'
cereal1= pd.DataFrame(df_2013, columns=['Zone', 'Valeur','is_undernour'])
df5 = df5.merge(cereal1, how='left', on='Zone')

In [74]:
#Toute les colonnes sont inserés
df5 = df5[df5.Zone != 'Chine'].copy()

display(df5.head(10))

,Code zone,Zone,Code Produit,Produit,origine,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),...,Disponibilité almientaire(kcal)/ans,Disponibilité en protéines par kg,Disponibilité almientaire(kg)/ans,Ratio energie poids en (kcal/kg),Ratio protéine/poids total en %,disponibilité_interieur_kcal,Disponibilité_interieur_protéine,is_cereal,Valeur_y,is_undernour
0,1,Arménie,2511,Blé,vegétale,93.0,0.0,1024.0,130.60,3.60,...,1.112684e+12,33163184.60,388796200.0,2861.868300,0.085297,1.585475e+12,4.725459e+07,True,100000.00149,True
1,1,Arménie,2513,Orge,vegétale,137.0,26.0,0.0,0.00,0.00,...,0.000000e+00,0.00,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,True,100000.00149,True
2,1,Arménie,2514,Maïs,vegétale,96.0,NaN,0.0,0.03,NaN,...,0.000000e+00,10866.05,89310.0,0.000000,0.121667,0.000000e+00,1.241000e+07,True,100000.00149,True
3,1,Arménie,2515,Seigle,vegétale,1.0,NaN,1.0,0.12,0.00,...,1.086605e+09,21732.10,357240.0,3041.666667,0.060833,3.041667e+09,6.083333e+04,True,100000.00149,True
4,1,Arménie,2516,Avoine,vegétale,4.0,NaN,2.0,0.37,0.03,...,2.173210e+09,97794.45,1101490.0,1972.972973,0.088784,1.183784e+10,5.327027e+05,True,100000.00149,True
5,1,Arménie,2517,Millet,vegétale,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,True,100000.00149,True
6,1,Arménie,2518,Sorgho,vegétale,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,True,100000.00149,True
7,1,Arménie,2520,"Céréales, Autres",vegétale,1.0,12.0,14.0,1.96,0.04,...,1.521247e+10,423775.95,5834920.0,2607.142857,0.072628,5.475000e+10,1.525179e+06,True,100000.00149,True
8,1,Arménie,2531,Pommes de Terre,vegétale,225.0,16.0,82.0,45.10,0.12,...,8.910161e+10,2108013.70,134262700.0,663.636364,0.015701,4.459636e+11,1.055085e+07,False,100000.00149,True
9,1,Arménie,2532,Manioc,vegétale,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.000000,0.000000,0.000000e+00,0.000000e+00,False,100000.00149,True

In [75]:
cereal_food = df5[df5['is_cereal'] == True].copy()
cereal_food = cereal_food[cereal_food['Nourriture'] > 0]
cereal_food = cereal_food[cereal_food['Aliments pour animaux'] > 0]

In [76]:
animale_food = (cereal_food['Aliments pour animaux'].sum())*1000
humain_food = (cereal_food['Nourriture'].sum())*1000
ah_food = animale_food + humain_food

In [77]:
print(f"Animal food: {animale_food:,}({animale_food / ah_food:.0%})")
print(f"Human food: {humain_food:,}({humain_food / ah_food:.0%})")
print(f"Total food: {ah_food:,} (100%)")

Animal food: 824,814,000.0(47%)
Human food: 932,820,000.0(53%)
Total food: 1,757,634,000.0 (100%)

Repérez les 15 produits les plus exportés par ce groupe de pays.

In [78]:
#Appeler le dataframe qui contient seulement les pays en sous nutrition
df5_1=df5[df5['is_undernour']==True].copy()

In [79]:
top_export_produit=df5_1.sort_values(by='Exportations - Quantité', ascending=False)[['Code Produit','Produit']].drop_duplicates()[0:15]
top_export_produit

       Code Produit              Produit
13344          2532               Manioc
6165           2577       Huile de Palme
508            2514                 Maïs
6125           2805     Riz (Eq Blanchi)
2534           2605      Légumes, Autres
525            2555                 Soja
6031           2511                  Blé
13350          2542        Sucre Eq Brut
3629           2615              Bananes
10884          2763  Poissons Pelagiques
535            2571        Huile de Soja
507            2513                 Orge
2532           2601              Tomates
2540           2617               Pommes
597            2848   Lait - Excl Beurre

In [80]:
#Creation d'un dataframe via df5_1 en triant par les 200 premieres importations

top_import_of_poor_exports = df5_1.sort_values(by='Importations - Quantité', ascending=False)[0:200]

In [81]:
#Projection sur les catégories
final_columns = ['Code Produit', 'Produit', 'Aliments pour animaux', 'Autres utilisations (non alimentaire)', 'Disponibilité intérieure','Nourriture' ]
df_p11 = top_import_of_poor_exports[final_columns].copy()
df_p11

,Code Produit,Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,Nourriture
2509,2555,Soja,9530.0,NaN,75081.0,5072.0
2496,2532,Manioc,22868.0,7940.0,33590.0,2645.0
12012,2513,Orge,10000.0,NaN,10317.0,0.0
3674,2511,Blé,4860.0,0.0,19341.0,12048.0
6069,2577,Huile de Palme,NaN,6782.0,8413.0,1631.0
...,...,...,...,...,...,...
2495,2531,Pommes de Terre,22165.0,221.0,96068.0,57384.0
12066,2625,"Fruits, Autres",NaN,NaN,413.0,356.0
12519,2617,Pommes,NaN,NaN,655.0,583.0
14777,2734,Viande de Volailles,NaN,NaN,1133.0,1133.0
2589,2518,Sorgho,525.0,NaN,541.0,NaN

In [82]:
#grouper les informations par produit et par pays 

df_p11 = df_p11.groupby(['Code Produit', 'Produit']).sum()
df_p11.reset_index(inplace=True)

In [83]:
# rajout des deux colonne demandeés
df_p11['other_vs_supply'] = df_p11['Autres utilisations (non alimentaire)'] / df_p11['Disponibilité intérieure']
df_p11['feed_vs_foodfeed'] = df_p11['Aliments pour animaux'] / (df_p11['Aliments pour animaux'] + df_p11['Nourriture'])

df_p11.sort_values(by='feed_vs_foodfeed', ascending=False, inplace=True)

display(df_p11)

,Code Produit,Produit,Aliments pour animaux,Autres utilisations (non alimentaire),Disponibilité intérieure,Nourriture,other_vs_supply,feed_vs_foodfeed
6,2536,"Sucre, canne",7183.0,0.0,129126.0,0.0,0.000000,1.000000
14,2558,Graines Colza/Moutarde,3715.0,210.0,21077.0,13.0,0.009963,0.996513
1,2513,Orge,16240.0,7.0,21330.0,829.0,0.000328,0.951432
3,2518,Sorgho,9754.0,0.0,12002.0,1855.0,0.000000,0.840210
2,2514,Maïs,212581.0,40391.0,330333.0,48126.0,0.122274,0.815402
30,2763,Poissons Pelagiques,10795.0,40.0,15876.0,5041.0,0.002520,0.681675
13,2555,Soja,10668.0,524.0,89342.0,6472.0,0.005865,0.622404
5,2532,Manioc,25152.0,21068.0,66296.0,15313.0,0.317787,0.621574
10,2547,Pois,1692.0,0.0,4427.0,2466.0,0.000000,0.406926
31,2764,"Poissons Marins, Autres",709.0,0.0,1858.0,1148.0,0.000000,0.381799
4,2531,Pommes de Terre,22165.0,400.0,98287.0,59202.0,0.004070,0.272408
0,2511,Blé,44364.0,8645.0,268216.0,195866.0,0.032231,0.184673
11,2549,Légumineuses Autres,1631.0,0.0,15343.0,12596.0,0.000000,0.114641
32,2805,Riz (Eq Blanchi),12777.0,3042.0,155039.0,126726.0,0.019621,0.091589
9,2546,Haricots,226.0,0.0,4512.0,3806.0,0.000000,0.056052
33,2848,Lait - Excl Beurre,3585.0,1106.0,102347.0,94988.0,0.010806,0.036369
16,2573,Huile de Tournesol,0.0,104.0,1253.0,1149.0,0.083001,0.000000
15,2571,Huile de Soja,0.0,9803.0,15352.0,5549.0,0.638549,0.000000
7,2542,Sucre Eq Brut,0.0,3509.0,73238.0,58558.0,0.047912,0.000000
8,2543,Edulcorants Autres,0.0,407.0,1682.0,1274.0,0.241974,0.000000
12,2551,Noix,0.0,0.0,1975.0,1954.0,0.000000,0.000000
29,2762,Perciform,0.0,0.0,5928.0,5928.0,0.000000,0.000000
28,2737,Graisses Animales Crue,0.0,497.0,800.0,303.0,0.621250,0.000000
27,2736,Abats Comestible,0.0,26.0,4797.0,4771.0,0.005420,0.000000
26,2734,Viande de Volailles,0.0,0.0,24517.0,24516.0,0.000000,0.000000
25,2733,Viande de Suides,0.0,0.0,55132.0,55111.0,0.000000,0.000000
24,2625,"Fruits, Autres",0.0,0.0,55056.0,49953.0,0.000000,0.000000
23,2617,Pommes,0.0,0.0,655.0,583.0,0.000000,0.000000
22,2615,Bananes,0.0,0.0,13277.0,10737.0,0.000000,0.000000
21,2611,"Oranges, Mandarines",0.0,0.0,322.0,313.0,0.000000,0.000000
20,2605,"Légumes, Autres",0.0,1.0,10491.0,9810.0,0.000095,0.000000
19,2577,Huile de Palme,0.0,17268.0,25427.0,7877.0,0.679121,0.000000
18,2576,Huile de Palmistes,0.0,544.0,641.0,96.0,0.848674,0.000000
17,2574,Huile de Colza&Moutarde,0.0,5117.0,7211.0,2094.0,0.709610,0.000000

# Question 12 : Donnez les 3 produits qui on t la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [84]:
print("""
Top 3 Autres utilisations (non alimentaire) / Disponibilité intérieure:
""")

df_p11.sort_values(by='other_vs_supply', ascending=False, inplace=True)
for i in range(0,3):
    print(f"{i+1} - {df_p11['Produit'].iloc[i]} ({df_p11['other_vs_supply'].iloc[i]:.0%})")

Top 3 Autres utilisations (non alimentaire) / Disponibilité intérieure:

1 - Huile de Palmistes (85%)
2 - Huile de Colza&Moutarde (71%)
3 - Huile de Palme (68%)

In [85]:
print("""
Top 3 Feed / Food + Feed:
""")

df_p11.sort_values(by='feed_vs_foodfeed', ascending=False, inplace=True)
for i in range(0,3):
    print(f"{i+1} - {df_p11['Produit'].iloc[i]} ({df_p11['feed_vs_foodfeed'].iloc[i]:.0%})")

Top 3 Feed / Food + Feed:

1 - Sucre, canne (100%)
2 - Graines Colza/Moutarde (100%)
3 - Orge (95%)

# Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [86]:
q13_df = df5[df5['Zone'] == "États-Unis d'Amérique"].copy()
q13_df = q13_df[q13_df['is_cereal'] == True].copy()

In [87]:
cereals_manger_par_animaux = q13_df['Aliments pour animaux'].sum()

print(f"10% equals: {((cereals_manger_par_animaux*1000000) * 0.1 / 1000):,} tons")

q13_df['feedkcal'] = q13_df['Ratio energie poids en (kcal/kg)'] * (q13_df['Aliments pour animaux']*1000000)
q13_df['feedprot'] = q13_df['Ratio protéine/poids total en %'] * (q13_df['Aliments pour animaux']*1000000)

feedkcal = q13_df['feedkcal'].sum()
feedprot = q13_df['feedprot'].sum()

print(" ")
print(round(feedkcal * 0.1 / besoin_kcal_an))
print(round(feedprot * 0.1 / besoin_prot_an ))

10% equals: 14,009,600.0 tons

47905365
41026029

In [88]:
#Cela représenterait 14 millions de tonnes de céréales qui pourrait servir a nourrir les humains.
print((cereals_manger_par_animaux*1000000)/1000)

140096000.0

# Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [89]:
q14_df = df5[df5['Zone'] == 'Thaïlande'].copy()
q14_df = q14_df[q14_df['Produit'] == 'Manioc'].copy()

In [90]:
manioc_exporté = q14_df['Exportations - Quantité'].iloc[0]*1000000
manioc_produit = q14_df['Production'].iloc[0]*1000000

In [91]:
print(f"Manioc exporté : {(manioc_exporté / 1000):,} tons ({manioc_exporté / manioc_produit:.0%})")

Manioc exporté : 25,214,000.0 tons (83%)

In [92]:
#J'isole la thailande avec sa population que je multiplie par 1000 pour mettre en millions
thai_pop = (df5[df5['Zone'] == 'Thaïlande']['Valeur_x'].iloc[0])*1000
#je cherche le nombre de la sous nutrition en thailande
thai_un = (df_2013[df_2013['Zone'] == 'Thaïlande']['Valeur'].iloc[0])

print(f"Population en sous nutrition en Thailande : {thai_un:,} people ({thai_un / thai_pop:.0%} of the population).")

Population en sous nutrition en Thailande : 5,599,999.904632568 people (8% of the population).

In [93]:
# combien de personnes peut on nourrir avec le manioc exportés.

manioc_df = df5[df5['Produit'] == 'Manioc'].copy()
manioc_df = manioc_df[manioc_df['Zone'] == 'Thaïlande'].copy()


manioc_cal = manioc_df['Exportations - Quantité'] * manioc_df['Ratio energie poids en (kcal/kg)']
manioc_cal = (manioc_cal / besoin_kcal_an)*1000000
manioc_cal = round(manioc_cal.iloc[0])
print(manioc_cal)

35264336

In [94]:
export12 = df5[df5.is_undernour == True].copy()

# riz dans tout les pays ou sevit la sous nutrition
riz_df = export12[export12['Code Produit'] == 2805].copy()
print(f"{riz_df['Exportations - Quantité'].sum()*1000000:,}")

# Mais
mais_df = export12[export12['Code Produit'] == 2514].copy()
print(f"{mais_df['Exportations - Quantité'].sum()*1000000:,}")

32,787,000,000.0
37,888,000,000.0

In [95]:
# manioc dans tout les pays ou sévit la sous nutrition
manioc_df = export12[export12['Code Produit'] == 2532].copy()
print(f"{manioc_df['Exportations - Quantité'].sum()*1000000:,}")

# Mais
huile_df = export12[export12['Code Produit'] == 2577].copy()
print(f"{huile_df['Exportations - Quantité'].sum()*1000000:,}")

35,843,000,000.0
46,285,000,000.0

In [96]:
manioc_pertes = q14_df['Pertes'].iloc[0]*1000000
print(f"Manioc pertes : {(manioc_pertes / 1000):,} tons ({manioc_pertes / manioc_produit:.0%})")

Manioc pertes : 1,511,000.0 tons (5%)

In [97]:
manioc_am = q14_df['Aliments pour animaux'].iloc[0]*1000000
print(f"Manioc am : {(manioc_am / 1000):,} tons ({manioc_am / manioc_produit:.0%})")

Manioc am : 1,800,000.0 tons (6%)

In [98]:
manioc_autre = q14_df['Autres utilisations (non alimentaire)'].iloc[0]*1000000
print(f"Manioc autre: {(manioc_autre / 1000):,} tons ({manioc_autre / manioc_produit:.0%})")

Manioc autre: 2,081,000.0 tons (7%)